.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  background-color: black;
  color: yellow;
}

.color {
  background-color: black;
}

.light {
  background-color: yellow;
  color: black;
}
